RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^groups/([a-zA-Z0-9-/]+) groups.php?url=$1
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^enham\.in$ [OR]
RewriteCond %{HTTP_HOST} ^www\.enham\.in$
RewriteRule ^/?$ "https\:\/\/enham\.in\/" [R=301,L]

RewriteRule ^product/([a-zA-Z0-9-/]+) product.php?url=$1
RewriteRule ^category/([a-zA-Z0-9-/]+) category.php?url=$1
RewriteRule ^subcategory/([a-zA-Z0-9-/]+) subcategory.php?url=$1
RewriteRule ^collections/([a-zA-Z0-9-/]+) supersubcategory.php?url=$1

